<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SkatePark</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  {{> header}}

  <div class="content">
    <h3>¡Bienvenido!</h3>
    <h1 id="animatedTitle">SkatePark</h1>
    <div class="button-container">
      {{#if user}}
        <div class="container">
          <button onclick="window.location.href='/dashboard'">
            <span>Ir al Dashboard</span>
          </button>
        </div>
      {{else}}
        <div class="container">
          <button onclick="window.location.href='/login'">
            <span>Inicio Sesión</span>
          </button>
        </div>
      {{/if}}
    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>